<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Athlon / Front-end Webpack Template</title>
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    
  </head>
  <body class="loading">
    <header>
      <h1>
        SPACE NK PRODUCT IMAGES
      </h1> 
    </header>
    <main> 
      <div class="container-carousel"> 
        <div class="wrap">
          <ul class="carousel is-set" id="carousel">
          </ul>
        </div>
        <div class="controls">
          <button class="toggle prev" data-toggle="prev">Prev<svg height='100px' width='100px'  fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" x="0px" y="0px"><title>444-Arrow Left</title><g data-name="444-Arrow Left"><path d="M22.29,31.71l-15-15a1,1,0,0,1,0-1.41l15-15,1.41,1.41L9.41,16,23.71,30.29Z"></path></g></svg></button>
          <button class="toggle next" data-toggle="next">Next<svg height='100px' width='100px'  fill="#000000" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><title>Forward</title><path d="M24.42,99.16a2.84,2.84,0,0,0,2,.84,2.74,2.74,0,0,0,2-.84L75.58,52a2.81,2.81,0,0,0,0-4L28.42.83a2.83,2.83,0,1,0-4,4L69.58,50,24.42,95.16A2.82,2.82,0,0,0,24.42,99.16Z"></path></svg></button>
        </div>
      </div>
    </main>
  </body>
</html>
